*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}
p{
    font-family: 'Merriweather', serif;
}
a {
    text-decoration: none;
    

}
:root{
    --primary-color: #e8fcf4;
    --secondary-color:#c46135 ;
    --primary-dark-color:#7b9696 ;
    --Marron: #b8a68e;
    --black: #000;
    --white-color: #FFF;;
}
body {
    background-color: var(--primary-color);
}

.content {
    width: 100%;
    margin: 0 auto;
}


/* Header */


.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0px;
    margin-bottom: 0rem;
    background-color: var(--secondary-color);
    height: 100%;
}

.logo-mobile{
    width: 200px;
    height:auto; /* Mantén esto en auto para mantener las proporciones de la imagen */
    background-image: transparent;
    padding: 0;
    margin: 0;
}



/*aside*/

.open-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px; /* Darle un tamaño fijo al botón del menú */
    transition: transform 0.3s ease; /* Agregar una transición para que el botón rote suavemente */
}

#menu {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #fd9999;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

#menu.menu-visible {
    transform: translateX(-100%);
}

#menu .nav {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos de la lista */
}

#menu .nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em; /* Tamaño de fuente grande para facilitar la lectura */
}

#menu .nav li a:hover {
    color: #ddd; /* Cambia el color al pasar el ratón para indicar que es interactivo */
}

#menu .nav li a:focus {
    outline: 2px solid #fff; /* Añade un contorno al enfocar para mejorar la accesibilidad */
}
/* Main */

.titulo-mobile{
    font-size: 1.5rem;
    color: var(--black);
    text-align: center;
    padding: 0;
    margin: 0.5rem;
}

section {
    padding: 20px;
}

.presentacion{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color: #000000;
    width:100%; /* Hace que el elemento ocupe todo el ancho de la pantalla */
}

.boton-producto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0px;
    margin:10px auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color: var(--black);
    background-color: var(--Marron);
    width:100%; /* Hace que el elemento ocupe todo el ancho de la pantalla */
}

.informacion-pago {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    align-items: center; /* Centra los elementos verticalmente */
    flex-direction: column;
    gap: 1px ; /* Agrega espacio entre los elementos */
    padding: 10px;
    margin: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color: #FFF;
    background-color: var(--secondary-color);
    width:100%; /* Hace que el elemento ocupe todo el ancho de la pantalla */
    font-size: 1rem;
    height: 100%; /* Add height property to make the element occupy the full height of the screen */
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin-top: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color: #000000;
    background-color: var(--primary-color);
    width:100%; /* Hace que el elemento ocupe todo el ancho de la pantalla */
}

.redes-icon {
    display: flex; /* Añade esto para hacer que los elementos estén uno al lado del otro */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    width: 200px;
    height: 10px;
    margin: 5px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    grid-row: auto;
    grid-column: auto;
    gap: 10px;
}

footer {
    background-color: var(--secondary-color); /* Cambia esto al color que prefieras */
    color: rgb(255, 255, 255); /* Cambia esto al color que prefieras para el texto */
    padding: 20px; /* Añade un poco de relleno alrededor del footer */
}

.footer .contacto {
    display: flex; /* Añade esto para hacer que los elementos estén uno al lado del otro */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-direction: column; /* Añade esto para que los elementos estén uno debajo del otro */
}
