<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Comprá productos de Casa y Jardín por internet. Tenemos adicionales, mesas, bancos y sillas y más. Hacé tu pedido y pagalo online.">
        <title>Campichuelo</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header class="mobile-header">
            <div class="logo-container">
                <a href="index.html">
                    <img src="img/Logo.png" class="mobile-logo" alt="Logo de la empresa">
                </a> 
            </div>
            
            <button id="menu-toggle-button" class="menu-toggle-button">
                <img src="img/icon-menu.png" alt="Icono para abrir el menú">
            </button>
            
            <nav id="main-menu" class="main-menu">
                <button id="menu-close-button" class="menu-close-button">
                    <img src="img/icon-close.png" alt="Icono para cerrar el menú"></button>
                    <ul class="navigation-list">
                        <li><a href="nosotros.html">Nosotros</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="Garantia.html">Garantía</a></li>
                        <li><a href="cuidados-muebles.html">Cuidados</a></li>
                        <li><a href="envios.html">Envios</a></li>
                    </ul>       
                </nav>
            </header>



            <footer>
                <div class="content">
                    <div class="contacto">
                        <h3>Contacto</h3>
                        <p>Whatsapp: <a href="https://wa.me/5491155983715">+54 9 11 3077-7777</p></a> 
                        <p>Mail: <a href="mailto:campichuelomuebles@gmail.com">Campichuelomuebles@gmail.com</a>
                        </footer>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
        <script src="java.js"></script>
</body>
</html>